<!-- Remember to add more information here 
            <li><a href="#" routerLink = "/" style="border: white;">Search</a></li>
                        <li><a href="#" routerLink = "/favorites">Favorites</a></li>


-->


<!DOCTYPE html>
<html lang="en">
  
  <header>
    <div class="container-bg">
      <div class = 'container' >
        <nav>
          <ul class = "nav">
            <li><button class="btn default" href="#" routerLink = "/" style="color: white;">Search</button></li>
            <li><button class="btn default" href="#" routerLink = "/favorites" style="color: white;">Favorites</button></li>
          </ul>
        </nav>
      </div>
    </div>
  </header>
  

  <div class = 'container'>
  <router-outlet>
    <!-- search -->
    
  </router-outlet>
  </div>
</html>